CompileFlags:
  CompilationDatabase: build-clangd
  Remove:
    - --forward-unknown-to-host-compiler
    - -forward-unknown-to-host-compiler
    - -Xcompiler=*
    - -Xcompiler
    - -arch=*
    - --gpu-architecture=*
    - --generate-code=*
    - -gencode=*
    - --cuda-gpu-arch=*
    - --cuda-path=*
    - -xcuda
    - --no-cuda-version-check

Diagnostics:
  UnusedIncludes: None
